@import "./animations.css";

@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

#container {
    background-color:grey;
    display:flex;
    flex-wrap:wrap;
    flex-direction:column;
    height:100vh;
}

.module{
    height:100%;
    width: 100vw;
    display:flex;
}

.green{
    /* width:500px; */
    background-color:green;
}

.yellow{
    /* width:1300px; */
    background-color:yellow;
}

.purple{
    /* width:800px; */
    background-color:purple;
}

.orange{
    /* width:800px; */
    background-color:orange;
}

.blue{
    /* width:2100px; */
    background-color:blue;
}

.red{
    /* width:900px; */
    background-color:red;
}
.bar{
    background-color: white;
    width: 90%;
    margin: auto auto;
    height: 2rem;
}
/*
|--------------------------------------------------------------------------
| Desktop Layout
|--------------------------------------------------------------------------
*/

@media only screen and (min-width: 1281px) {
	html {
		font-size: calc(16px + ( (100vw - 1281px) *  0.002814) );
	}
    /* .section{
        padding-left: calc(160px + ( (100vw - 1281px) *  0.23925) );
        padding-right: calc(160px + ( (100vw - 1281px) *  0.23925) );
    } */
}


/*
|--------------------------------------------------------------------------
| Tablet Layout
|--------------------------------------------------------------------------
|
*/

@media only screen and (max-width: 1100px){	
    #wrapper{
        position: fixed;
        flex-direction: column;
        transform-origin: center top;
    }
    .skrollr.skrollr-desktop #wrapper{
        transform: none !important;
    }
    .skrollr.skrollr-mobile #wrapper{
        touch-action: none;
    }    
    /* .navbar .logo-link > svg{
        transform: none;
    }     */
}

/*
|--------------------------------------------------------------------------
| Mobile Layout
|--------------------------------------------------------------------------
*/

@media only screen and (max-width: 700px){
    /* html{
        font-size: 14.4px;
    } */
}

@keyframes anim {
    0%{
        transform: translateX(0%);
    } 
    100%{
        transform: translateX(1000%);
    }      
}
#hehe{
    width: 5rem;
    height: 5rem;
    background-color: red;
}
.anim{
    animation: anim 1000ms ease;
    animation-fill-mode: both;
}